body {
    background-color: aquamarine;
}


#box {
    margin: 0;
    border: 10px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -80%);
    width: 600px;
    text-align: center;
    margin: 20px;
    padding: 1px;
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
}
