body {
overflow: hidden;
background-color: #ff001f;
animation: epilepsja 1s infinite;
}

@keyframes epilepsja {
    0%    {background-color:#ff001f;}
    10%   {background-color:#e3ff55;}
    20%   {background-color:#6affa2;}
    30%   {background-color:#55c1ff;}
    40%   {background-color:#556dff;}
    50%   {background-color:#d940ff;}
    60%   {background-color:#ffd5f4;}
    70%   {background-color:#14f300;}
    80%   {background-color:#ffc72b;}
    90%   {background-color:#810b15;}
    100%  {background-color:#ff001f;}
}

@keyframes rotate {
    50% {transform: rotate(360deg);}
}
    
div {
    position: relative;
    animation: rotate 3s infinite;
}

